{% extends 'base.html' %}

{% block title %} Pets List Page {% endblock %}

{% block content %}
    <h2>Pets List </h2>
    <ul class="pet-list">
        {% for pet in pets %}
            <li> 
                <div>
                        {% if pet.image %}
                            <img src="{{ pet.image.url }}">
                        {% else %}
                            <p>No Image</p>
                        {% endif %}
                <div>
                <div>
                        {{ pet.name }} : {{ pet.breed }} : {{ pet.price }} 
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}